<div id ="app">

<h1>新規登録</h1>

<%= form_with(model:@user, url: @dest ,id: "user-create-form") do |f| %>

    <div class="form-group">
        <%= f.label :name%>
        <span v-if="is_name_ok" class="alert-success validation">OK</span>
        <span v-if="!is_name_ok" class="alert-danger validation">空の名前ではいけません</span>

        <%= f.text_field :name , class: "form-control" , "v-model"=>"name"%>
    </div>
    <div class="form-group">
        <%= f.label :email%>
        <%= f.email_field :email , class: "form-control" , value: @user.email, readonly: true%>
    </div>

    <div class="form-group">
        <%= f.label :password%>
        <span v-if="is_pw_ok" class="alert-success validation">OK</span>
        <span v-if="!is_pw_ok" class="alert-danger validation">{{ pw_error }}</span>

        <%= f.password_field :password , class: "form-control","v-model"=>"password"%>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation%>       
        <span v-if="is_same && is_pw_ok" class="alert-success validation">OK</span>
        <span v-if="!is_pw_ok && is_same" class="alert-danger validation">パスワードが不正です</span>
        <span v-if="!is_same" class="alert-danger validation">パスワードが違います</span>

        <%= f.password_field :password_confirmation , class: "form-control","v-model"=>"password_confirmation"%>
 
    </div>

    <%= f.submit "登録!" , class: "btn btn-success","v-if"=>"is_ok"%>
    <button v-if="!is_ok" class="btn btn-danger" @click.prevent="submit_fail">送信不可</button>
<% end %>

</div>

<%= javascript_include_tag "check_token.js" %>